{%extends "blog/base.html"%} 

{%block static%}
	{%include 'blog/static.html'%}
{%endblock%}

{%block nav%}
	{%include 'blog/nav.html'%}				
{%endblock%}

{%block slider%}
	{%include 'blog/slider.html'%}				
{%endblock%}

{%block bloglist%}
	<div class="uk-panel-box">
		   	<div class="uk-badge uk-badge-warning">出错来</div>
		    <!--  <h3 class="uk-panel-title">Sorry</h3>-->
		    <p>{{errmsg}}</p>
		</div>
{%endblock%}

{%block footer%}
	{%include 'blog/footer.html'%}				
{%endblock%}