{% load staticfiles %}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script
	src="https://oss.maxcdn.com/libs/respond.blog/js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="{% static 'blog/css/uikit.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/uikit.gradient.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/awesome.css' %}" />
<link rel="stylesheet" href="{% static 'blog/css/prettify.css' %}" />



<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/js/md5.js' %}"></script>
<script src="{% static 'blog/js/uikit.min.js' %}"></script>
<script src="{% static 'blog/js/sticky.min.js' %}"></script>
<script src="{% static 'blog/js/vue.min.js' %}"></script>
<script src="{% static 'blog/js/awesome.js' %}"></script>
<script src="{% static 'blog/js/prettify.js' %}"></script>

<script src="{% static 'blog/js/lang-css.js' %}"></script>
<script src="{% static 'blog/js/lang-hs.js' %}"></script>
<script src="{% static 'blog/js/lang-lisp.js' %}"></script>
<script src="{% static 'blog/js/lang-lua.js' %}"></script>
<script src="{% static 'blog/js/lang-ml.js' %}"></script>
<script src="{% static 'blog/js/lang-proto.js' %}"></script>
<script src="{% static 'blog/js/lang-sql.js' %}"></script>
<script src="{% static 'blog/js/lang-vb.js' %}"></script>
<script src="{% static 'blog/js/lang-wiki.js' %}"></script>

<link rel="stylesheet" href="{% static 'sth/SyntaxHighlighter.css' %}" />
<script src="{% static 'sth/shCore.js' %}"></script>
<script src="{% static 'sth/shBrushJScript.js' %}"></script>
<script src="{% static 'sth/shBrushPython.js' %}"></script>

