
<nav class="uk-navbar uk-navbar-attached uk-margin-bottom data-uk-sticky">
		<div class="uk-container uk-container-center">
			<a href="{% url 'blog.views.index' %}" class="uk-navbar-brand">legendry index</a>
			<ul class="uk-navbar-nav">
				<li><a href="{% url 'blog.views.index' %}"><i class="uk-icon-home"></i>blog</a></li>
				<li class="uk-parent"><a href="">about</a></li>
			</ul>
			<div class="uk-navbar-flip  uk-navbar-content">
				<form class="uk-form uk-margin-remove uk-display-inline-block" action="{%url 'blog.views.search' %}" method="POST">
					<input type="text" name="keyword" placeholder="Search">
					<button class="uk-button uk-button-primary">Submit</button>
				</form>
			</div>
		</div>
	</nav>
