{% load staticfiles %}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script
	src="https://oss.maxcdn.com/libs/respond.sysadmin/js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="{% static 'sysadmin/css/uikit.min.css' %}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" href="{% static 'sysadmin/css/uikit.gradient.min.css' %}">
<link rel="stylesheet" href="{% static 'sysadmin/css/awesome.css' %}" />
<link rel="stylesheet" href="{% static 'sysadmin/css/uikit.doc.min.css' %}" />

<script src="{% static 'sysadmin/js/jquery.js' %}"></script>
<script src="{% static 'sysadmin/js/md5.js' %}"></script>
<script src="{% static 'sysadmin/js/uikit.min.js' %}"></script>
<script src="{% static 'sysadmin/js/sticky.min.js' %}"></script>
<script src="{% static 'sysadmin/js/vue.min.js' %}"></script>
<script src="{% static 'sysadmin/js/awesome.js' %}"></script>

<!-- Codemirror and marked dependencies -->
<link rel="stylesheet" href="/static/codemirror/codemirror.css" type="text/css" />
<script src="/static/codemirror/codemirror.js"></script>
<script rel="stylesheet" href="sysadmin/codemirror/show-hint.js"></script>
<script src="/static/sysadmin/marked/marked.js"></script>

<!-- HTML editor JavaScript -->
<script src="/static/sysadmin/js/htmleditor.js"></script>
